<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>About</ion-title>
    <ion-buttons end>
      <!-- <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button> -->
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="about-header">
    <img src="assets/img/39395252_253192841971744_3602402840267456512_n.jpg" alt="ionic logo">
  </div>
  <div padding class="about-info">
    <h3 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;text-align: center">SODVELONCON2019</h3>

    <ion-list no-lines>
      <ion-item>
        <ion-icon name="calendar" item-left></ion-icon>
        <ion-label>Date</ion-label>
        <ion-datetime displayFormat="MMM DD, YYYY" max="2018" [(ngModel)]="conferenceDate"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-icon name="pin" item-left></ion-icon>
        <ion-label>Location</ion-label>
        <ion-select>
          <ion-option value="madison" selected>Crowne Plaza Kathmandu - Soaltee</ion-option>
          
        </ion-select>
      </ion-item>
    </ion-list>

    <p>
      The 15th National Conference of the Society of Dermatologists, Venereologists and Leprologists of Nepal, the SODVELONCON 2019 is going to be held in Kathmandu on April 7-8, 2019. It is a matter of great honour and privilege for the Department of Dermatology & Venereology, Bir Hospital, on being given the opportunity to organize SODVELONCON 2019. The Organizing Committee is working very hard coupled with great enthusiasm and efficient planning to make this mega event a grand success. We are expecting eminent national and international speakers, who will be highlighting their experiences in day-to-day practice and update our knowledge on recent advances in cutaneous medicine and aesthetic procedures.
    </p>
  </div>

  <div class="team">
    <img src="assets/img/team.png" alt="team info">
  </div>


  <p style="font-weight: bold; font-size: 15px">Scientific Sub-Committee Members</p>
  <ul>
    <li style="font-size: 11px">Dr Yogesh Poudyal</li>
    <li style="font-size: 11px">Dr Anup Bastola</li>
    <li style="font-size: 11px">Dr Badri Chapagain</li>
    <li style="font-size: 11px">Dr Rabindra Baskota</li>
    <li style="font-size: 11px">Dr Pratima Poudel</li>
    <li style="font-size: 11px">Dr Nashwa Ahmed</li>
 
    
  </ul>


    
  
