.about-header {
  background-color: #95a9dd;
  padding: 0px;
  width: 100%;
  min-height: 150px;
  text-align: center;
}

.about-header img {
  max-width: 100%;
  min-height: 100%;
  margin-left: 0px;
  padding: 5px 5px 5px 5px;
}

.about-info p {
  color: #697072;
  text-align: left;
}

.about-info ion-icon {
  color: color($colors, primary);
  width: 20px;
}

.md,
.wp {
  .about-info [text-right] {
    margin-right: 0;
  }
}

.ios .about-info {
  text-align: center;
}

.ios .about-info ion-icon {
  width: auto;
  margin-right: 10px;
}

.team img {
  max-width: 100%;
  min-height: 100%;
  margin-left: 0px;
  padding: 5px 5px 5px 5px;
}
