<ion-header>
  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>Downloads</ion-title>
  </ion-navbar>

</ion-header>

<!-- && !(rateStatus == 'done') -->
<ion-content padding>
    <h3 class="greenText"><a href="https://bitpointnepal.com/downloads/abstract.pdf">DOWNLOAD ABSTRACT BOOK</a></h3>
    <h3 class="greenText"><a href="https://bitpointnepal.com/downloads/posters">DOWNLOAD POSTERS</a></h3>
 
<div *ngIf="eventDate < today && !(rateStatus == 'done')">
    <div class="card-title">
      <p style="font-weight: bold; font-size: 20px; color: rgb(84, 84, 141);" absolute-drag>Please rate the Mobile App according to:</p>
    </div>
      <p style="font-weight: bold; font-size: 15px;color: rgb(117, 185, 48)">{{count}} of 5</p>
    <div *ngIf="count == 1">
              <h3 style="font-weight: bold">{{count}}.Ease of use</h3>
              <ionic3-star-rating 
                  activeIcon = "ios-star"
                  defaultIcon = "ios-star-outline"
                  activeColor = "#488aff" 
                  defaultColor = "red"
                  readonly="false"
                  [rating]="rating">
            </ionic3-star-rating>
            Selected rating: {{rating}}

            <br>
            <ion-buttons end>
              <button ion-button (click)="nextRating()" type="submit" solt="end">Next</button>
            </ion-buttons>
    </div>

<div *ngIf="count == 2">
    <h3 style="font-weight: bold">{{count}}.Performance</h3>
  <ionic3-star-rating 
      activeIcon = "ios-star"
      defaultIcon = "ios-star-outline"
      activeColor = "#488aff" 
      defaultColor = "red"
      readonly="false"
      [rating]="rating">
</ionic3-star-rating>
Selected rating: {{rating}}
<br>
  <!-- <button ion-button (click)="previousRating()" type="submit" slot="start">Prevous</button> -->
  <ion-buttons end>
      <button ion-button (click)="nextRating()" type="submit" solt="end">Next</button>
    </ion-buttons>
</div>

<div *ngIf="count == 3">
    <h3 style="font-weight: bold">{{count}}.Outlook</h3>
  <ionic3-star-rating 
      activeIcon = "ios-star"
      defaultIcon = "ios-star-outline"
      activeColor = "#488aff" 
      defaultColor = "red"
      readonly="false"
      [rating]="rating">
</ionic3-star-rating>
Selected rating: {{rating}}
<br>
  <!-- <button ion-button (click)="previousRating()" type="submit" slot="start">Prevous</button> -->
  <ion-buttons end>
      <button ion-button (click)="nextRating()" type="submit" solt="end">Next</button>
    </ion-buttons>
</div>

<div *ngIf="count == 4">
    <h3 style="font-weight: bold">{{count}}.Preference compared to Papers</h3>
  <ionic3-star-rating 
      activeIcon = "ios-star"
      defaultIcon = "ios-star-outline"
      activeColor = "#488aff" 
      defaultColor = "red"
      readonly="false"
      [rating]="rating">
</ionic3-star-rating>
Selected rating: {{rating}}
<br>
  <!-- <button ion-button (click)="previousRating()" type="submit" slot="start">Prevous</button> -->
  <ion-buttons end>
      <button ion-button (click)="nextRating()" type="submit" solt="end">Next</button>
    </ion-buttons>
</div>

<div *ngIf="count == 5">
        <h3 style="font-weight: bold">{{count}}.If you will recommend mobile app to next conference</h3>
      <ionic3-star-rating 
          activeIcon = "ios-star"
          defaultIcon = "ios-star-outline"
          activeColor = "#488aff" 
          defaultColor = "red"
          readonly="false"
          [rating]="rating">
    </ionic3-star-rating>
    Selected rating: {{rating}}
    <br>
    <br>
    <ion-buttons end>
        <button ion-button (click)="nextRating()" type="submit" solt="end">Submit</button>
      </ion-buttons>
</div>
<div *ngIf="count <= 5">  
    <img src="assets/img/rating.png">  
</div>

</div>

 <div *ngIf="rateStatus == 'done' || count > 5">
   <br>
   <br>
  <h4 style="font-size: 15px;text-align: center;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif">CONGRATULATIONS, now you're able download certificate here!</h4>
  <p class="greenText"><a href="https://bitpointnepal.com/downloads/{{hashString}}.pdf">DOWNLOAD CERTIFICATE</a></p>
</div>

<div *ngIf="electionDate < today">
    <h3 class="greenText"><a href="https://bitpointnepal.com/election">ELECTION PORTAL</a></h3>
</div>
</ion-content>
