page-download {
    class ul {
        padding: 0px;
        &.rating li {
        padding: 0px 0px !important;
        background: none;
        color: #ffb400;
        ion-icon {
        font-size: 15px;
        }
        }
        }

    img {
        border: 1px solid rgb(107, 100, 206);
        border-radius: 4px;
        width: 180px;
    }
    .greenText {
         border: 2px solid purple;
        border-radius: 4px;
        text-align: center;
        font-size: 16px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}
