<ion-header>

	<ion-navbar>
		<button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
		<ion-title>Support</ion-title>
	</ion-navbar>

</ion-header>




<ion-content>
	<h3>Enter your Queries Here:</h3>
	
		<ion-toolbar>
		  <div padding>
			<div class="elem"><ion-input type="text" placeholder="Type here..." [(ngModel)]="message"></ion-input></div>
			<!-- <div class="elem"><button ion-button icon-only (click)="sendMessage()"><ion-icon name="send"></ion-icon> </button></div> -->
			</div>

			
			
			
		</ion-toolbar>
		<p>For more information and support contact us at http://sodveloncon2019.com/</p>
		<button ion-button round (click)="sendMessage()">Send</button>

	  </ion-content>
