<ion-header>
  <ion-navbar>
    <ion-title>Session</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1>{{session.name}}</h1>

  <h4 *ngFor="let speaker of session.speakers">
    {{speaker.name}}
  </h4>

  <p>
    {{session.timeStart}} - {{session.timeEnd}}
  </p>

  <p>{{session.location}}</p>

 
  <pre>{{session.description}}</pre>
  
</ion-content>
