<ion-header no-border>
  <ion-navbar>
    <ion-buttons end *ngIf="showSkip">
      <button ion-button (click)="startApp()" color="primary">Skip</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
  <ion-slides #slides (ionSlideWillChange)="onSlideChangeStart($event)" pager>

    <ion-slide>
      <img src="assets/img/sodveloncon.jpg" class="slide-image"/>
      <h2 class="slide-title">
        Welcome to <b>SODVELONCON 2019</b>
      </h2>
      <p>
        This tutorial will help you to know how to use this app.
      </p>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/slide1.jpg" class="slide-image"/>
      <h2 class="slide-title">Know your today's schedule.</h2>
      <p>Know schedule name, time and location.</p>
    </ion-slide>
    
    <ion-slide>
      <img src="assets/img/slide2.jpg" class="slide-image"/>
      <h2 class="slide-title" >Menu Bar</h2>
      <p>Browse Speakers detail, schedule and other information from the menu bar</p>
    </ion-slide>

    

    <ion-slide>
      <img src="assets/img/slide3.jpeg" class="slide-image"/>
      <h2 class="slide-title">QR Code</h2>
      <p>Unique Code for User Identification</p>
     
    </ion-slide>

    <ion-slide>
      <div style="padding-top: 120px">
      <img src="assets/img/slide4.jpg" c  lass="slide-image"/>
      </div>  
      <br>
      <button ion-button icon-right large clear (click)="startApp()">
        Continue
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-slide>

  </ion-slides>
</ion-content>
