$categories: (
 ionic: color($colors, primary),
 Registration: #AC282B,
 INAUGRAL: #8E8D93,
 TEA: #FE4C52,
 SESSION: #FD8B2D,
 HAIR: #FED035,
 Food: #69BB7B,
 CUTANEOUS: #3BC7C4,
 documentation: #B16BE3,
 TROPICAL: #6600CC,
);

@function auxiliary-categories() {
  @return map-remove($categories);
}

page-schedule {
  @each $track, $value in auxiliary-categories() {
   ion-item-sliding[track=#{$track}] ion-label {
     border-left: 2px solid $value;
     padding-left: 10px;
   }
  }
}
