<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Account</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content">
  <!-- <div padding-top text-center *ngIf="username">
    <h2>Welcome, {{username}}</h2>
    <h4>For support click here!</h4>

    <ion-list inset>
      
      <button ion-button block (click)="support()">Support</button>
      <p>Click Show QR Code button when you enter Sodveloncon2019 Conference at Registration Desk, Thank you for your patience!</p>
      <button ion-button block (click)="createCode()"><ion-icon name="expand"></ion-icon>Show QR Code</button>
    
    </ion-list>
  </div> -->

  <p style="text-align: center;color: rgb(49, 49, 110);font-size: 15px">Please Kindly show QR Code at SODVELONCON2019 Conference when necessary, Thank you!</p>
  <ion-card *ngIf="username">
      
      
        <ngx-qrcode [qrc-value]="username" ></ngx-qrcode>
      
      <ion-card-content class="card-mytext">
        <p style="text-align: center;color: rgb(49, 49, 110);font-size: 20px">QR Code - SODVELONCON2019</p>
        <p style="text-align: center; font-weight: bold">{{ username }}</p>
      </ion-card-content>
    
  </ion-card>

  <!-- <div>
    <ion-input style="background-color: gray" type="text" [(ngModel)] = "encodeText"></ion-input>
    <button ion-button block (click)="encode()">Show Bar Code</button>
  </div>
  <div>
    <button ion-button block (click)="scan()">Scan</button>
    <div *ngIf="scannedData.text">
      <label>Your Barcode is</label>
      <br>
      <span>{{scannedData.text}}</span>
    </div>
  </div> -->
</ion-content>
