
page-account img {
   padding-top: 60px;
   padding-left: 60px;
   padding-right: 60px;
   padding-bottom: 30px;
   max-width:100%;
   height: auto;
   //border-radius: 50%;
   
   text-align: center;
}


